<div id="header">
  <div id="headerCenter" class="bodyCenter" style="width: 90%;">
    <div class="header_Item header_logo">


      <a href="/"><img alt="调问网" src="/assets/images/logo/LOGO.png" align="middle" height="46"><span
        class="titleTempSpan">OSS</span></a>


    </div>


    <div class="header_Item header_menu">
      <ul>

        <li><a href="/design/my-survey.action" id="mysurvey" class="active">问卷</a></li>

        <li><a href="/sy/user/user-admin.action" id="usermanager">用户</a></li>
        <li><a href="/sy/system/sys-property!input.action" id="systemset">设置</a></li>

        <li><a href="http://www.diaowen.net/">帮助</a></li>
      </ul>
    </div>
    <div class="header_Item header_user"
         style="float: right;margin-top: 12px;position: relative;zoom: 1;z-index: 165;">
      <a class="clickHideUserMenu" (click)="clickHideUserMenuCallback($event)" style="cursor: pointer;">
						<span class="head_use_name">
						dwsurvey
						</span>
        <span class="header_user_icon">&nbsp;</span>
      </a>
      <div class="a-w-sel a-w-sel-head" style="">
        <div class="w-sel" style="margin-top: 16px;">
          <div class="selc">
            <div class="selcc tbtag">
              <div class="seli"><a class="nx-1" href="/ic/user!myaccount.action">修改密码</a></div>
              <div class="seli"><a class="nx-7" href="http://www.diaowen.net/">帮助及反馈</a></div>
              <div class="seli"><a class="nx-8" href="/login!logout.action">退出</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div style="clear: both;"></div>
</div>
