<div id="header">
  <div id="headerCenter" class="bodyCenter" style="width: 90%;">
    <div class="header_Item header_logo">


      <a href="/"><img alt="调问网" src="/assets/images/logo/LOGO.png" align="middle" height="46"><span
        class="titleTempSpan">OSS</span></a>


    </div>


    <div class="header_Item header_menu">
      <ul>

        <li><a href="/design/my-survey.action" id="mysurvey" class="active">问卷</a></li>

        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
          <li><a id="usermanager" dropdownToggle class="">设置</a></li>
          <ul *dropdownMenu class="dropdown-menu" role="menu" style="background-color: #333; color: #bcbcbc;">
            <li role="menuitem" style="display: contents;"><a class="dropdown-item" style="padding: 10px;">用户管理</a></li>
            <li role="menuitem" style="display: contents;"><a class="dropdown-item" style="padding: 10px;">角色管理</a></li>
            <li role="menuitem" style="display: contents;"><a class="dropdown-item" style="padding: 10px;">菜单管理</a></li>
          </ul>
        </div>


        <li><a href="http://www.diaowen.net/">帮助</a></li>
      </ul>
    </div>
    <div class="header_Item header_user"
         style="float: right;margin-top: 12px;position: relative;zoom: 1;z-index: 165;">
      <a class="clickHideUserMenu" (click)="clickHideUserMenuCallback($event)" style="cursor: pointer;">
						<span class="head_use_name">
						dwsurvey
						</span>
        <span class="header_user_icon">&nbsp;</span>
      </a>
      <div class="a-w-sel a-w-sel-head" style="">
        <div class="w-sel" style="margin-top: 16px;">
          <div class="selc">
            <div class="selcc tbtag">
              <div class="seli"><a class="nx-1" href="/ic/user!myaccount.action">修改密码</a></div>
              <div class="seli"><a class="nx-7" href="http://www.diaowen.net/">帮助及反馈</a></div>
              <div class="seli"><a class="nx-8" href="/login!logout.action">退出</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div style="clear: both;"></div>
</div>
