
<div class="row" style="padding-top: 5px;">
  <div class="col-md-12">
    <div class="card" style="padding: 10px;">
      <div class="header">
        <form class="form-inline" role="form" id="searchForm">
          <div class="form-group">
            <input name="name" class="form-control" id="name" placeholder="名称" >
          </div>
          <div class="form-group">
            <input name="description" class="form-control" id="description" placeholder="备注">
          </div>
          <div class="form-group">
            <button type="button" (click)="query()" class="btn btn-success">查询</button>
          </div>
          <div style="display: inline-block;float: right;">
            <button type="button"  class="btn btn-success" routerLink="add">新增</button>
          </div>
        </form>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
          <tr><th>ID</th>
            <th>昵称</th>
            <th>工号</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>最近登录时间</th>
            <th>操作</th>
          </tr></thead>
          <tbody>
          <tr *ngFor="let item of page.list">
            <td>{{item.uid}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.status | userstatus}}</td>
            <td>{{item.lastLoginTime | date:'yyyy-MM-d'}}</td>
            <td>
              <a class="btn btn-info btn-xs" routerLink="edit"><i class="fa fa-edit"></i></a>
              <a class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
            </td>
          </tr>

          </tbody>
        </table>

      </div>
      <div class="btn-group">


        <pagination [totalItems]="page.total" [(ngModel)]="page.nextPage" (pageChanged)="pageChanged($event)"
                    previousText="上一页" nextText="下一页"></pagination>


      </div>
    </div>
  </div>
</div>
