
<div class="row" style="padding-top: 5px;">
  <div class="col-md-12">
    <div class="card" style="padding: 10px;">
      <div class="header">
        <form [formGroup]="searchForm" class="form-inline" role="form" id="searchForm" (ngSubmit)="query()">
          <div class="form-group">
            <input name="email" formControlName="email" class="form-control" placeholder="邮箱" >
          </div>
          <div class="form-group">
            <input name="username" formControlName="username" class="form-control" placeholder="工号">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">查询</button>
          </div>
          <div style="display: inline-block;float: right;">
            <button type="button"  class="btn btn-success" routerLink="add">新增</button>
          </div>
        </form>
      </div>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
          <tr><th>ID</th>
            <th>昵称</th>
            <th>工号</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>最近登录时间</th>
            <th>操作</th>
          </tr></thead>
          <tbody>
          <tr *ngFor="let item of page.list">
            <td>{{item.uid}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.status | userstatus}}</td>
            <td>{{item.lastLoginTime | date:'yyyy-MM-d'}}</td>
            <td>
              <a class="btn btn-info btn-xs" routerLink="edit" [queryParams]="{uid: item.uid}"><i class="fa fa-edit"></i></a>
              <a class="btn btn-danger btn-xs" (click)="delete(template, item)"><i class="fa fa-times"></i></a>
            </td>
          </tr>

          </tbody>
        </table>

      </div>
      <div class="btn-group" style="margin: auto;">
        <pagination [totalItems]="page.total" [(ngModel)]="page.nextPage" (pageChanged)="pageChanged($event)"
                    previousText="上一页" nextText="下一页"></pagination>
      </div>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>你确认要删除吗?</p>
    <button type="button" class="btn btn-default" (click)="deleteConfirm()" >是的</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="deleteDecline()" >我在想想</button>
  </div>
</ng-template>
