<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>我的问卷&nbsp;&nbsp;调问网</title>

  <link href="/assets/js/plugs/jquery-ui-1.10.3.custom/css/mycss/jquery-ui-1.10.3.custom.css" rel="stylesheet"
        type="text/css">
  <script src="//hm.baidu.com/hm.js?ebe23eb396f5a803e26ea4bd102a8b0f"></script>
  <script src="//hm.baidu.com/hm.js?ebe23eb396f5a803e26ea4bd102a8b0f"></script>
  <script type="text/javascript" src="/assets/js/plugs/jquery-ui-1.10.3.custom/js/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="/assets/js/plugs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
  <script type="text/javascript" src="/assets/js/dw/responsive-width.js"></script>
  <script language="javascript" type="text/javascript"
          src="/assets/js/plugs/My97DatePickerBeta/My97DatePicker/WdatePicker.js"></script>
  <link href="/assets/js/plugs/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/assets/js/plugs/bootstrap-3.3.0-dist/dist/css/bootstrap.css">
  <script src="/assets/js/plugs/bootstrap-3.3.0-dist/dist/js/bootstrap.js"></script>
  <link href="/assets/js/plugs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">

  <style type="text/css">
    .surveyLeftBtnGroup a {
      color: #5A9ECD;
    }

    .btn-group {
      /* border: 1px solid #D1D1D1; */
    }

    .btn-group a {
      /* border-radius: 0px; */
      /* border-color: white; */
    }

    .btn-group a:hover {
      background: #317BCF;
      color: white;
      border-color: #317BCF;
    }

    .btn-group > .btn:not(:first-child) {
      margin-left: -1px;
    }

    .contacts-table tr td {
      font-size: 16px ! important;
    }

    .dialogBtn1 {
      border: none;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      padding: 8px 10px;
    }

    .dialogBtn1 .ui-button-text {
      padding: .4em 1em;
      display: block;
      line-height: normal;
    }

    .dialogBtn1Cencel {
      background: none;
    }

    .dialogBtn1Cencel:hover {
      background: #f6f6f6;
    }

    button {
      outline: none;
    }

    .dialogMessage select, .dialogMessage input {
      padding: 5px;
      color: #333333;
      border: 1px solid #98C5C3;
    }
  </style>

  <link href="/assets/css/dw-user.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body style="">
<div id="wrap">
  <input type="hidden" id="ctx" name="ctx" value="">


  <script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?ebe23eb396f5a803e26ea4bd102a8b0f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


  <app-header></app-header>

  <input type="hidden" id="id" name="id" value="">
  <div style="clear: both;"></div>
  <router-outlet></router-outlet>


  <script type="text/javascript">

    currentMenu("mysurvey");

    $("select[name='surveyState']").val("");

    var options = {
      animation: true,
      delay: 100,
      container: "body",
      trigger: 'hover' //触发tooltip的事件
    };
    $('a[data-toggle=tooltip]').tooltip(options);

    //delete
    $(".deleteSurvey").click(function () {
      if (confirm("确认删除吗？")) {
        var th = $(this);
        var url = $(this).attr("href");
        var data = "";
        $.ajax({
          url: url,
          data: data,
          type: "post",
          success: function (msg) {
            if (msg === "true") {
              th.parents("tr").hide("slow");
              th.parents("tr").remove();
            } else {
              alert("删除失败，未登录或没有权限！");
            }
          }
        });
      }
      return false;
    });

    $(".copySurvey").click(function () {

      var surveyId = $(this).parents("tr").find("input[name='surveyId']").val();
      var titleValue = $(this).parents("tr").find(".titleTag").text();
      var model_groupId1 = $(this).parents("tr").find("input[name='groupId1']").val();
      var model_groupId2 = $(this).parents("tr").find("input[name='groupId2']").val();

      $("body").append("<div id=\"myDialogRoot\"><div class='dialogMessage' style='padding-top:40px;margin-left:20px;padding-bottom:0px;'>" +
        "<div>复制标题：<input id='surTitleTemp' type='text' style='padding:3px;width:320px;color:rgb(14, 136, 158);' value=''></div></div></div>");

      var myDialog = $("#myDialogRoot").dialog({
        width: 500,
        height: 220,
        autoOpen: true,
        modal: true,
        position: ["center", "center"],
        title: "复制问卷、表单",
        resizable: false,
        draggable: false,
        closeOnEscape: false,
        show: {effect: "blind", direction: "up", duration: 500},
        hide: {effect: "blind", direction: "left", duration: 200},
        buttons: {
          "OK": {
            text: "确认复制",
            addClass: 'dialogMessageButton dialogBtn1',
            click: function () {
              //执行发布
              var surveyName = $("#surTitleTemp").val();
              surveyName = optionValue = escape(encodeURIComponent(surveyName));

              var params = "surveyName=" + surveyName;
              params += "&fromBankId=" + surveyId;
              window.location.href = "/design/my-survey-design!copySurvey.action?" + params;
            }
          },
          "CENCEL": {
            text: "取消",
            addClass: "dialogBtn1 dialogBtn1Cencel",
            click: function () {
              $(this).dialog("close");
            }
          }
        },
        open: function (event, ui) {
          $(".ui-dialog-titlebar-close").hide();
          $("#surTitleTemp").val(titleValue + "－副本");
        },
        close: function (event, ui) {
          $("#myDialogRoot").remove();
        }
      });
    });

    $("#surveyAdd-a").click(function () {

      var surveyId = $(this).parents("tr").find("input[name='surveyId']").val();
      var titleValue = $(this).parents("tr").find(".titleTag").text();


      $("body").append("<div id=\"myDialogRoot\"><div class='dialogMessage' style='padding-top:40px;margin-left:20px;padding-bottom:0px;'>" +
        "<div>问卷标题：<input id='surTitleTemp' type='text' style='padding:5px;width:320px;color:rgb(14, 136, 158);' value=''></div></div></div>");

      var myDialog = $("#myDialogRoot").dialog({
        width: 500,
        height: 220,
        autoOpen: true,
        modal: true,
        position: ["center", "center"],
        title: "新建问卷、表单",
        resizable: false,
        draggable: false,
        closeOnEscape: false,
        show: {effect: "blind", direction: "up", duration: 500},
        hide: {effect: "blind", direction: "left", duration: 200},
        buttons: {
          "OK": {
            text: "确认新建",
            addClass: 'dialogMessageButton dialogBtn1',
            click: function () {
              //执行发布
              var surveyName = $("#surTitleTemp").val();
              surveyName = optionValue = escape(encodeURIComponent(surveyName));

              var params = "surveyName=" + surveyName;
              window.location.href = "/design/my-survey-create!save.action?" + params;
            }
          },
          "CENCEL": {
            text: "取消",
            addClass: "dialogBtn1 dialogBtn1Cencel",
            click: function () {
              $(this).dialog("close");
            }
          }
        },
        open: function (event, ui) {
          $(".ui-dialog-titlebar-close").hide();
          $("#surTitleTemp").val(titleValue + "");
        },
        close: function (event, ui) {
          $("#myDialogRoot").remove();
        }
      });
      return false;
    });


    function setSelectText(el) {
      try {
        window.getSelection().selectAllChildren(el[0]); //全选
        window.getSelection().collapseToEnd(el[0]); //光标置后
      } catch (err) {
        //在此处理错误
      }
    }


  </script>


  <app-footer></app-footer>


</div>
<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?ebe23eb396f5a803e26ea4bd102a8b0f";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>


<script type="text/javascript">
  resizeBodyWidth();
</script>

</body>
</html>
