<script type="text/javascript" src="/assets/js/plugs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
<div id="dwBody" style="margin-top: 15px;">
  <div id="dwBodyContent" class="bodyCenter" style="width: 88%;">
    <div id="dwBodyUser">
      <div class="surveyCollectMiddle">
        <div class="surveyCollectMiddleContent">
          <div style="padding: 25px 45px;overflow: auto;padding-top: 20px;">
            <div style="padding: 5px;color: #666565;letter-spacing: 2px;">
              所有问卷&nbsp;&nbsp;|&nbsp;&nbsp;
              <a id="surveyAdd-a" (click)="newDesign($event)"
                 style="outline: none;text-decoration: none; cursor: pointer;"><i class="fa fa-plus " aria-hidden="true"></i>&nbsp;新建问卷</a>
            </div>

            <form action="/design/my-survey.action" method="post">
              <div class="contacts_search" style="padding: 5px;color:#666565;">
                <div style="padding-left: 20px;padding-top: 8px;padding-bottom: 8px;">
                  <span style="font-size: 14px;vertical-align: middle;">状态&nbsp;</span>
                  <select name="surveyState" style="vertical-align: middle;">
                    <option value="">不限</option>
                    <option value="0">设计</option>
                    <option value="1">发布</option>
                    <option value="2">结束</option>
                  </select>
                  &nbsp;&nbsp;
                  <span style="font-size: 14px;vertical-align: middle;">名称&nbsp;</span>
                  <input type="text" class="inputS1" name="surveyName" value="">
                  <input type="submit" value="查询" class="sbtn25 sbtn25_1" style="font-size: 16px;">
                </div>

              </div>
            </form>

            <div style="margin-top: 15px;">
              <!-- <div style="padding: 5px;color: #666565;text-align: right;">
                                <a href="" class="export-contacts active"><span>&nbsp;</span>导出联系人</a>
                            </div> -->
              <div style="padding: 5px;color:#666565; ">
                <table class="contacts-table" width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                  <tr>
                    <th style="text-align: center;" width="30"><!-- <input type="checkbox">  --></th>
                    <th align="left">问卷</th>
                    <th align="left" width="100">创建者</th>
                    <th align="left" width="200">创建时间</th>
                    <th align="left" width="60">答卷</th>
                    <th align="left" width="80">状态</th>
                    <th align="center" width="220" style="padding-left: 10px;">操作</th>
                  </tr>


                  <tr>
                    <td align="center">
                      <input type="hidden" name="surveyId" value="40288285697b610701697b62908c0000">
                    </td>
                    <td align="left"><a target="_blank" href="/dwsurvey/78ljil8evt.html" class="titleTag">AAAAA</a>
                    </td>
                    <td align="left" width="100">柯远</td>
                    <td align="left">
                      2019年03月14日 16:47
                    </td>
                    <td align="left">0&nbsp;</td>
                    <td align="left">
                      发布
                    </td>
                    <td align="left">
                      <div class="btn-group surveyLeftBtnGroup">
                        <a class="btn btn-default"
                           href="/design/my-survey-design.action?surveyId=40288285697b610701697b62908c0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="设计"><i
                          class="fa fa-pencil-square-o"></i></a>
                        <a class="btn btn-default"
                           href="/design/my-collect.action?surveyId=40288285697b610701697b62908c0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="收集答卷"><i
                          class="fa fa-comments-o"></i></a>
                        <a class="btn btn-default"
                           href="/da/survey-report!defaultReport.action?surveyId=40288285697b610701697b62908c0000"
                           title="" data-toggle="tooltip" data-placement="top" data-original-title="分析报告"><i
                          class="fa fa-line-chart"></i></a>
                        <a class="btn btn-default copySurvey" href="#40288285697b610701697b62908c0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="复制一份"><i
                          class="fa fa-files-o"></i></a>
                        <a class="btn btn-default deleteSurvey"
                           href="/design/my-survey!delete.action?id=40288285697b610701697b62908c0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="删除问卷"><i
                          class="fa fa-trash-o fa-fw"></i></a>
                      </div>&nbsp;
                      <div class="btn-group" style="display: none;">
                        <!-- <a class="btn btn-default" href="#"><i class="fa fa-eye"></i></a> -->
                        <a class="btn btn-default" href="#"><i class="fa fa-trash-o fa-fw"></i></a>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td align="center">
                      <input type="hidden" name="surveyId" value="402880e55cb9c629015cb9d31eff0000">
                    </td>
                    <td align="left"><a target="_blank" href="/dwsurvey/2p4tsrc5cvz.html" class="titleTag">第一份测试问卷</a>
                    </td>
                    <td align="left" width="100">柯远</td>
                    <td align="left">
                      2017年06月18日 14:10
                    </td>
                    <td align="left">0&nbsp;</td>
                    <td align="left">
                      发布
                    </td>
                    <td align="left">
                      <div class="btn-group surveyLeftBtnGroup">
                        <a class="btn btn-default"
                           href="/design/my-survey-design.action?surveyId=402880e55cb9c629015cb9d31eff0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="设计"><i
                          class="fa fa-pencil-square-o"></i></a>
                        <a class="btn btn-default"
                           href="/design/my-collect.action?surveyId=402880e55cb9c629015cb9d31eff0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="收集答卷"><i
                          class="fa fa-comments-o"></i></a>
                        <a class="btn btn-default"
                           href="/da/survey-report!defaultReport.action?surveyId=402880e55cb9c629015cb9d31eff0000"
                           title="" data-toggle="tooltip" data-placement="top" data-original-title="分析报告"><i
                          class="fa fa-line-chart"></i></a>
                        <a class="btn btn-default copySurvey" href="#402880e55cb9c629015cb9d31eff0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="复制一份"><i
                          class="fa fa-files-o"></i></a>
                        <a class="btn btn-default deleteSurvey"
                           href="/design/my-survey!delete.action?id=402880e55cb9c629015cb9d31eff0000" title=""
                           data-toggle="tooltip" data-placement="top" data-original-title="删除问卷"><i
                          class="fa fa-trash-o fa-fw"></i></a>
                      </div>&nbsp;
                      <div class="btn-group" style="display: none;">
                        <!-- <a class="btn btn-default" href="#"><i class="fa fa-eye"></i></a> -->
                        <a class="btn btn-default" href="#"><i class="fa fa-trash-o fa-fw"></i></a>
                      </div>
                    </td>
                  </tr>


                  </tbody>
                </table>
                <div style="padding-top: 15px;text-align: center;">
                  <div class="btn-group">


                    <a href="/design/my-survey.action?page.pageNo=1" class="btn btn-default"
                       style="background: #D3DEED;">1</a>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
